/* ==========================================================================
   GENERAL
   ========================================================================== */

html,
body {
  color: #34495E;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

small {
  color: #D6D9DB;
  font-size: 0.8em;
}

a {
  color: inherit;
}

a:hover,
button:hover {
  transition: all 0.5s ease-out;
}

.hide {
  visibility: hidden;
}

/* ==========================================================================
   HEADER
   ========================================================================== */

header {
  background: #3893C6;
  color: #FFFFFF;
  font-weight: bold;
  left: 0;
  letter-spacing: 2px;
  padding: 8px;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
}

a.gear {
  position: absolute;
  right: 10px;
}

a.back {
  left: 10px;
  position: absolute;
}

/* ==========================================================================
   ROOT
   ========================================================================== */

.root {
  bottom: 0;
  left: 0;
  overflow: scroll;
  position: absolute;
  right: 0;
  top: 40px;
}

a.emoji {
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 50%;
}

a.emoji:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #3893C6;
}

/* ==========================================================================
   SETTINGS
   ========================================================================== */

h4 {
  margin: 20px 20px 5px 20px;
}

form {
  text-align: center;
}

input[type='text'] {
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  font-size: 15px;
  height: 20px;
  margin-top: 10px;
  outline: none;
  padding: 25px;
  transition: all 1s ease-out;
  width: 100%;
}

input[type='text']:focus {
  border: 1px solid #3893C6;
}

button {
  background-color: #3893C6;
  border: none;
  color: #FFFFFF;
  font-size: 1em;
  margin-top: 180px;
  outline: 0;
  padding: 7px 0;
  width: 350px;
}

button:hover {
  background-color: #5BACD8;
}

.settings label {
  font-weight: bold;
}
